extends ../../layout/layout
block content
	h3.font-weight-light.text-center.mb-3 Added Packages
	each package in packages
		.container.mt-5
			.card(id=package._id)
				.card-body
				.row.mb-2
					.col-md-5
						img.card-img.card-img-top.rounded-0(src=package.image ? package.image.path: "/images/nophoto.png" alt="Card image " style="height:300px")
					.col-md-7.text-dark
						a.button.btn.btn-danger.btn-sm.text-white.float-right.mr-5.rounded.mt-0.mb-0.text-right#confirmAppointment(type="button" onclick="confirmDelete(`" + makeUrl('/package/deletePackage/') + package._id + "`)")
							i.fa.fa-trash
						h3.font-weight-light=package.name
						h4.font-weight-light !{package.price} BDT
						.row
							.col-md-2
								h3.span.badge.badge-info !{package.day} Days !{package.night} Nights
							.col-md-2
								h3.span.badge.badge-info  For !{package.noOfPerson} Person
							.col-md-7
						h5.font-weight-light Includes : !{package.include}
						p.font-weight-light Overview: !{package.overview}
						.row.mb-2
							.col
								.card
									.card-body.shadow-none.bg-light
										.card-text
											h3.font-weight-light.text-center=moment(package.departure).format('DD MMM, Y')
									.p.font-weight-light.text-center Departure

							.col
								.card.mr-lg-3
									.card-body.shadow-none.bg-light
										.card-text
											h3.font-weight-light.text-center=moment(package.return).format('DD MMM, Y')
									.p.font-weight-light.text-center Return
						p.font-weight-light.mb-5 * We Will start Our Journey from "!{package.startPoint}"

		.container.mb-2
			.card.mt-5.mb-2.text-dark
				.card-body
				.row.ml-4.mb-4
					.col-md-6
						h5.font-weight-strong Places Will be Covered:
						p.font-weight-strong=package.places
					.col-md-6
						h5.font-weight-strong Food Menu:
						p.font-weight-strong=package.foodMenu
				.row.ml-4.mb-4
					.col-md-6
						h5.font-weight-strong Possible Description
						p.font-weight-strong=package.possibleDescription
					.col-md-6
						h5.font-weight-strong Package Description
						p.font-weight-strong=package.packageDescription
				.row.ml-4.mb-4
					.col
					.col
						h5.font-weight-strong Cancel Policy
						p.font-weight-strong=package.cancelPolicy


