extends ../../layout/layout
block content
	.container.text-dark
		.row
			.col
			.col-md-6
				.card
					.card-body
						h3.font-weight-light.text-center Send Feedback Mail to: !{feedback.name}
						hr.mb-5
						p.font-weight-light Email : !{feedback.email}
						p.font-weight-bold.mb-0 Question :
						p.justify-content-center=feedback.question
						form(method="POST" action=makeUrl("/feedback/sendFeedback/")+feedback._id)
							textarea.form-control.mb-3(rows='8' name="answer" required)
							input.d-none(name='email' value=feedback.email)
							input.d-none(name='name' value=feedback.name)
							button.btn.btn-success.rounded-0.waves-effect(type="submit") Send Mail
			.col